canvas {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
  }
  .click-message {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังโปร่งแสง */
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
}

.click-message1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  opacity: 0;  /* เริ่มต้นด้วยความโปร่งใส */
  animation: fadeIn 10s forwards;  /* เริ่มแอนิเมชัน fadeIn */
}

/* การแอนิเมชัน fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}